
{% extends "base.html" %}
{% block title %}
ABOUT US
{% endblock title %}
{% block body %}

<style>

  
  html {
    box-sizing: border-box;
  }
  
   *:before, *:after {
    box-sizing: inherit;
  }
  
  .column1{
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    
    
  }
  
  .container2 {
    padding: 0 16px;
  }
  
  .container2::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button1:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  </style>
  <div class="bg-img">
<div class="about-section" >
    <h1>About Us Page</h1>
    <p>Welcome to our H.M.S, where innovation meets compassion. Our Hospital Management System is more than just a platform; it's a testament to our commitment to redefining healthcare administration through cutting-edge technology.</p>
    <p>At the heart of our Hospital Management System is a patient-centric philosophy. We believe in seamlessly blending technology with care to ensure that every interaction, from admission to discharge, is a healing experience.</p>
  </div>

  <h2 style="text-align:center">Our Specialists</h2>
  <div class="row1">
    <div class="column1">
      <div class="card1">
        
        <div class="container2">
          <h2>Dr.Bhaskar Shenoy</h2>
          <p class="title"> Paediatrician - Children's Specialist</p>
          
          <p>bhaskarshenoy@gmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column1">
      <div class="card1">
        
        <div class="container2">
          <h2>Dr.Prakriti</h2>
          <p class="title">Emergency physician</p>
          
          <p>Pru@gmail.com</p>
          
        </div>
      </div>
    </div>
    
    <div class="column1">
      <div class="card1">
        
        <div class="container2">
          <h2>Dr.Anil</h2>
          <p class="title">Dermatologist - Skin Specialist</p>
          
          <p>Anil@gmail.com</p>
          
        </div>
      </div>
    </div>

    <div class="column1">
      <div class="card1">
       
        <div class="container2">
          <h2>Dr.Sowmyashree T N</h2>
          <p class="title">Dentist</p>
          
          <p>sowmyashree@gmail.com</p>
          
        </div>
      </div>
    </div>
        <div class = "row1">

          <div class="column1">
            <div class="card1">
              
              <div class="container2">
                <h2>Dr.Apeksha</h2>
                <p class="title">Gynaecologist</p>
                
                <p>Apeksha@gmail.com</p>
                
              </div>
            </div>
          </div>
        
          <div class="column1">
            <div class="card1">
              
              <div class="container2">
                <h2>Dr.Krishna M V</h2>
                <p class="title">E.N.T Specialist</p>
                
                <p>krishnamadhava@email.com</p>
                
              </div>
            </div>
          </div>
          
          <div class="column1">
            <div class="card1">
              
              <div class="container2">
                <h2>Dr.Ameekrit</h2>
                <p class="title">Internal medicine</p>
                
                <p>Ameeraaru@gmail.com</p>
                
              </div>
        </div>
      </div>
    

      <div class = "row1">

        <div class="column1">
          <div class="card1">
            
            <div class="container2">
              <h2>Dr.Shwetha Nagraj</h2>
              <p class="title"> Neurologist</p>
              
              <p>shwethashwethu@yahoo.com</p>
              
            </div>
          </div>
        </div>
      
        
        
        <div class="column1">
          <div class="card1">
            
            <div class="container2">
              <h2>Dr.Fasil Khan</h2>
              <p class="title">Orthopedic</p>
              
              <p>fasu@email.com</p>
              
            </div>
      </div>
    </div>
    <div class = "row1">

      <div class="column1">
        <div class="card1">
          
          <div class="container2">
            <h2>Dr.Subramanya R</h2>
            <p class="title"> Psychiatrist</p>
            
            <p>subbudk@email.com</p>
            
          </div>
        </div>
      </div>
    
      <div class="column1">
        <div class="card1">
          
          <div class="container2">
            <h2>Dr.Ramananda Raghav</h2>
            <p class="title">Cardiologist - Senior Heart Specialist</p>
            
            <p>ramananda@gmail.com</p>
            
          </div>
        </div>
      </div>
      
      <div class="column1">
        <div class="card1">
          
          <div class="container2">
            <h2>Dr.Aditya</h2>
            <p class="title">Eye specialist</p>
            
            <p>Adi@gmail.com</p>
            
          </div>
    </div>
  </div>
</div>
  {% endblock body %}